extends layout

block content
    include header.jade

    - each s in scripts
        script(src=s)

        .create-view
            form(class="create-doc-options", action="/profile/mymusic/document1")
                h1 Create New Document
                label(for="title", class="long-label section-div") Title of Piece:
                input(class="long-input", type="text", name="title")
                label(for="composer", class="long-label") Name of Composer:
                input(class="long-input", type="text", name="composer")
                h2(class="section-div") Initial Piece Settings:
                table(class="create-doc-options")
                    tr(class="create-doc-options")
                        td(class="short-label-text")
                            label(for="notes-per-minute", class="long-label indented") Notes Per Measure: 
                            input(class="short-input", type="text", name="notes-per-minute")
                        td(class="long-label-select")
                            label(for="key", class="short-label") Key:
                            select(name="note")
                                option(value="A") A
                                option(value="B") B
                                option(value="C") C
                                option(value="D") D
                                option(value="E") E
                                option(value="F") F
                                option(value="G") G
                            select(name="sign")
                                option(value="nat") Natural
                                option(value="sharp") Sharp
                                option(value="flat") Flat
                            select(name="majority")
                                option(value="major") Major
                                option(value="minor") Minor
                    tr(class="create-doc-options")
                        td(class="short-label-text")
                            label(for="note-value", class="long-label indented") Note Value:                            
                            input(class="short-input", type="text", name="note-value")
                label(for="instruments" class="section-div", id="more-div") Composing for Instruments:
                input(class="long-input", name="instruments", type="text", id="instruments")
                button(type="submit", class="submit-button",value="Create"): p Create
                input(type="button", class="cancel-button", onClick="location.href='/profile/mymusic'", value="Cancel")
