extends layout

block content
	h1 Edit Document
	p Here is the editor for the sheet music.
	.container
		.sidebar
			ul
				li: button: a(href="") SETTINGS
				li: button: a(href="") OPEN
				li: button: a(href="") SAVE
				// Logo
				img(src="")

		.editor
			.note_buttons
				ul
					li(class="note-button"): button: img(src="")
					li(class="rest-button"): button: img(src="")
					li(class="delete-button"): button: img(src="")

			.sheet_music
				canvas(width='800', height='1000')
