#header
    .headerdiv
        .headerlogodiv
            a(href='/'): img(src='/images/Logo-full-white.png')
        .profilediv
            p John Smith
            i(class="fa fa-facebook-official")
