#header
    .headerdiv
        .headerlogodiv
            a(href='/'): img(src='/images/Logo-full-white.png')
        .profilediv
            p John Smith
<<<<<<< HEAD
            i(class="fa fa-facebook-official")
=======
            i(class="fa fa-facebook-official")
>>>>>>> 106cf116204109650e4dc0298d7962ac7230caea
