extends layout

block content
    h1 #{title}
    h2 Create your own sheet music for free.
    button(id="facebooklogin"): a(href='/mymusic') Log in with Facebook
    p Or
    p: a(href='') Sign up with your email.
