extends layout

block content
	h1 #{title}

	ul
		li: a(href="/profile/mymusic/createnewdocument") Create new document
		li: a(href="/profile/mymusic/document1") Document 1
		li: a(href="") Document 2
		li: a(href="") Document 3
