script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
<<<<<<< HEAD
=======
script(src="/js/vextab/releases/vextab-div.js")
script(src="/js/editor.js")
script(src="/css/styles.css")
>>>>>>> 106cf116204109650e4dc0298d7962ac7230caea
script(src="js/script.js")
script(src="http://localhost:35729/livereload.js")
